<!DOCTYPE html>
<html>
<head>
    <title>DMARCify - DMARC Policy Builder</title>

    <meta charset="utf-8">
    <meta name="description" content="Bouw een geschikte geschikte policy voor je domein met deze DMARC Policy Builder. Kies je policy, bepaal wat met subdomeinen moet gebeuren en klaar!">
    <meta name="keywords" content="dmarc,dmarcify,mail,dkim,spf">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#1e87f0">
    <meta name="msapplication-navbutton-color" content="#1e87f0">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1e87f0">

    <link rel="icon" sizes="192x192" href="/static/img/favicon.png">

    <link rel="icon" type="image/png" href="/static/img/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
    
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <link rel="stylesheet" href="/static/css/app.css" />

    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/uikit.min.js" defer></script>
    <script src="/static/js/uikit-icons.min.js" defer></script>
</head>
<body>
<div id="app">
<div class="uk-container uk-container-xsmall">

<h1><span class="dmarc-title">DMARC</span>ify <img src="/static/img/favicon.png" alt="" /></h1>

<div class="uk-margin">
    <div uk-form-custom="target: > * > span:first-child" class="dmarc-language">
        <select v-model="lang" v-on:change="translate(lang)">
            <option value="nl">Nederlands</option>
            <option value="en">English</option>
        </select>
        <button class="uk-button uk-button-default" type="button" tabindex="-1">
            <span></span>
            <span uk-icon="icon: chevron-down"></span>
        </button>
    </div>
</div>

<p>{{ text.header }}</p>

<hr>


<div class="uk-card uk-card-default uk-card-body">

<ul uk-tab="connect: .dmarc-tabs">
    <li class="uk-active"><a href="#">{{ text.tab_general }}</a></li>
    <li><a href="#">{{ text.tab_aggregate }}</a></li>
    <li><a href="#">{{ text.tab_failure }}</a></li>
    <li><a href="#">{{ text.tab_result }}</a></li>
</ul>

<form class="uk-form-stacked">

<ul class="uk-switcher dmarc-tabs">
<li>
    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-policy">
            {{ text.p_p }} <a href="#policy" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a>
            <!-- <a href="#" uk-icon="icon: question; ratio: 0.6" v-on:click="showHelp('p')"></a> -->
        </label>
        <div id="policy" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_p }}</h2>
                <hr>
                <p>{{ text.p_p_tip }} <a href="https://www.antagonist.nl/blog/dmarcify/#policy-kiezen" target="blank">{{ text.p_p_tip_blog }}</a>.</p> 
                <ul>
                    <li><span class="uk-text-bold">{{ text.p_p_none }}:</span> {{ text.p_p_tip_none }}</li>
                    <li><span class="uk-text-bold">{{ text.p_p_quarantine }}:</span> {{ text.p_p_tip_quarantine }}</li>
                    <li><span class="uk-text-bold">{{ text.p_p_reject }}:</span> {{ text.p_p_tip_reject }}</li>
                </ul>
            </div>
        </div>

        <div class="uk-form-controls">
            <select class="uk-select" id="dmarc-policy" v-model="p" v-on:change="update">
                <option value="none">{{ text.p_p_none }}</option>
                <option value="quarantine">{{ text.p_p_quarantine }}</option>
                <option value="reject">{{ text.p_p_reject }}</option>
            </select>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-subdomain-policy">
            {{ text.p_sp }} <a href="#subdomain" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a>
        </label>
        <div id="subdomain" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_sp }}</h2>
                <hr>
                <p>{{ text.p_sp_tip }}</p>
            </div>
        </div>
        <div class="uk-form-controls">
            <select class="uk-select" id="dmarc-subdomain-policy" v-model="sp" v-on:change="update">
                <option value="same">{{ text.p_sp_same }}</option>
                <option value="none">{{ text.p_p_none }}</option>
                <option value="quarantine">{{ text.p_p_quarantine }}</option>
                <option value="reject">{{ text.p_p_reject }}</option>
            </select>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-percentage">
            {{ text.p_pct }} <a href="#pct" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a>
        </label>
        <div id="pct" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_pct }}</h2>
                <hr>
                <p>{{ text.p_pct_tip }}</p>
            </div>
        </div>
        <div class="uk-form-controls">
            <input id="dmarc-percentage" class="uk-range" v-model="pct" type="range" min="0" max="100" step="1" v-on:change="update">
            <i>{{ pct }}%</i>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-aspf">
            {{ text.p_aspf }} <a href="#spf" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a>
        </label>
        <div id="spf" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_aspf }}</h2>
                <hr>
                <p>{{ text.p_aspf_tip }}</p>
                <ul>
                    <li><span class="uk-text-bold">{{ text.p_a_relaxed }}:</span> {{ text.p_aspf_relaxed }}</li>
                    <li><span class="uk-text-bold">{{ text.p_a_strict }}:</span> {{ text.p_aspf_strict }}</li>
                </ul>
            </div>
        </div>
        <div class="uk-form-controls">
            <label><input class="uk-radio" type="radio" v-model="aspf" value="r" v-on:change="update"> {{ text.p_a_relaxed }}</label>
            <label><input class="uk-radio" type="radio" v-model="aspf" value="s" v-on:change="update"> {{ text.p_a_strict }}</label>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-adkim">
            {{ text.p_adkim }} <a href="#dkim" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a>
        </label>
        <div id="dkim" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_adkim }}</h2>
                <hr>
                <p>{{ text.p_aspf_tip }}</p>
                <ul>
                    <li><span class="uk-text-bold">{{ text.p_a_relaxed }}:</span> {{ text.p_adkim_relaxed }}</li>
                    <li><span class="uk-text-bold">{{ text.p_a_strict }}:</span> {{ text.p_adkim_strict }}</li>
                </ul>
            </div>
        </div>
        <div class="uk-form-controls">
            <label><input class="uk-radio" type="radio" v-model="adkim" value="r" v-on:change="update"> {{ text.p_a_relaxed }}</label>
            <label><input class="uk-radio" type="radio" v-model="adkim" value="s" v-on:change="update"> {{ text.p_a_strict }}</label>
        </div>
    </div>

</li>
<li>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-rua" v-model="rua">
            {{ text.p_rua }} <a href="#rua" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a>
        </label>
        <div id="rua" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_rua }}</h2>
                <hr>
                <p>{{ text.p_rua_tip }}</p>
            </div>
        </div>
        <div class="uk-form-controls">
            <input id="dmarc-rua" class="uk-input" v-model="rua" type="email" v-on:change="update" placeholder="dmarc-aggregate@example.com">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-ri" v-model="ri">
            {{ text.p_ri }} <a href="#ri" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a>
        </label>
        <div id="ri" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_ri }}</h2>
                <hr>
                <p>{{ text.p_ri_tip }}</p>
            </div>
        </div>
        <div class="uk-form-controls">
            <select class="uk-select" id="dmarc-ri" v-model="ri" v-on:change="update" v-bind:disabled="rua === ''">
                <option value="3600">1 {{ text.w_hour }}</option>
                <option value="7200">2 {{ text.w_hours }}</option>
                <option value="14400">4 {{ text.w_hours }}</option>
                <option value="28800">8 {{ text.w_hours }}</option>
                <option value="43200">12 {{ text.w_hours }}</option>
                <option value="86400">1 {{ text.w_day }}</option>
            </select>
        </div>
    </div>

</li>
<li>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-ruf" v-model="ruf">
          {{ text.p_ruf }} <a href="#ruf" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a>
        </label>
        <div id="ruf" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_ruf }}</h2>
                <hr>
                <p>{{ text.p_ruf_tip }}</p>
            </div>
        </div>
        <div class="uk-form-controls">
            <input id="dmarc-ruf" class="uk-input" v-model="ruf" type="email" v-on:change="update" placeholder="dmarc-failure@example.com">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-fo">{{ text.p_fo }} <a href="#fo" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a></label>
        <div id="fo" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_fo }}</h2>
                <hr>
                <p>{{ text.p_fo_tip }}</p>
                <ul>
                    <li><span class="uk-text-bold">{{ text.p_fo_all }}:</span> {{ text.p_fo_all_tip }}</li>
                    <li><span class="uk-text-bold">{{ text.p_fo_any }}:</span> {{ text.p_fo_any_tip }}</li>
                    <li><span class="uk-text-bold">{{ text.p_fo_dkim }}:</span> {{ text.p_p_tip_reject }}</li>
                    <li><span class="uk-text-bold">{{ text.p_fo_spf }}:</span> {{ text.p_p_tip_reject }}</li>
                </ul>
            </div>
        </div>
        <div class="uk-form-controls">
            <label><input class="uk-checkbox" type="checkbox" v-model="fo" value="0" v-on:change="update" v-bind:disabled="ruf === ''"> {{ text.p_fo_all }}</label><br>
            <label><input class="uk-checkbox" type="checkbox" v-model="fo" value="1" v-on:change="update" v-bind:disabled="ruf === ''"> {{ text.p_fo_any }}</label><br>
            <label><input class="uk-checkbox" type="checkbox" v-model="fo" value="d" v-on:change="update" v-bind:disabled="ruf === ''"> {{ text.p_fo_dkim }}<br>
            <label><input class="uk-checkbox" type="checkbox" v-model="fo" value="s" v-on:change="update" v-bind:disabled="ruf === ''"> {{ text.p_fo_spf }}</label>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="dmarc-rf">{{ text.p_rf }} <a href="#rf" class="uk-icon-link" uk-icon="icon: question; ratio: .75" uk-toggle></a></label>
        <div id="rf" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ text.p_rf }}</h2>
                <hr>
                <p>{{ text.p_rf_tip }}</p>
            </div>
        </div>
        <div class="uk-form-controls">
            <label><input class="uk-checkbox" type="checkbox" v-model="rf" value="afrf" v-on:change="update" v-bind:disabled="ruf === ''"> <strong>AFRF</strong> &ndash; {{ text.p_rf_afrf }}</label><br>
            <label><input class="uk-checkbox" type="checkbox" v-model="rf" value="iodef" v-on:change="update" v-bind:disabled="ruf === ''"> <strong>IODEF</strong> &ndash; {{ text.p_rf_iodef }}</label><br>
        </div>
    </div>

</li>
<li class="uk-animation-fade">
    <div class="uk-margin">
        <p>{{ text.result }}</p>

        <hr>

        <pre>{{ dmarc }}</pre>
        <a href="#" class="uk-button uk-button-default uk-float-right dmarc-copy" v-on:click="copy"><span uk-icon="copy"></span> {{ text.w_copy }}</a>
    </div>
</li>
</ul>


</form>
</div>

<hr>

<p class="dmarc-poweredby">
    Hosted by <br>
    <a href="https://www.antagonist.nl/?utm_source=logo&utm_medium=dmarcify&utm_campaign=help"><img alt="Antagonist" src="/static/img/antagonist.png" /></a>
</p>

<p class="dmarc-github">
    Code on <br>
    <a href="https://github.com/AntagonistHQ/dmarcify.nl"><img alt="GitHub" src="/static/img/github.png" /></a>
</p>

</div>

<!--
<div id="help" class="help">
    <div class="uk-container uk-container-xsmall">
        <h3>{{ text.help[help].title }}</h3>
        <a href="#" class="uk-notification-close uk-close uk-icon" uk-icon="close"></span></a>
        <p>{{ text.help[help].description }}</p>
    </div>
</div>
-->

</div>

<script src="/static/js/app.js"></script>
</body>
</html>
